[submodule "Code/thirdParty/stefcommonheaders"]
	path = Code/thirdParty/stefcommonheaders
	url = https://HansiMeier@bitbucket.org/HansiMeier/stefcommonheaders.git
[submodule "Code/thirdParty/CMake-easylib"]
	path = Code/thirdParty/CMake-easylib
	url = https://github.com/alehaa/CMake-easylib.git
